{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container pt-5">
    <div class="row">
        {% set cpt = 0 %}
        {% for offer in offers %}
        <div class="col-lg-4">
            <div class="card {{ cpt > 2? 'mt-4' :'' }}">
                <div class="card-body">
                    <h5 class="card-title">{{ offer.fullName }}</h5>
                    <h6 class="text-muted">{{ offer.email }}</h6>
                    <p class="card-text">Identifiant : #{{ offer.id }}</p>
                    <p class="card-text">Offer type : {{ offer.offerNumber }} <br/> Phone number : {{ offer.phoneNumber }}</p>
                    <a href="{{ path('offers_to_project',{'offer':offer.id}) }}" class="btn btn-success">Convertir en projet</a>
                </div>
            </div>
        </div>
        {% set cpt = cpt+1 %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (!Notification) {
            alert('Desktop notifications not available in your browser. Try Chromium.');
            return;
        }

        if (Notification.permission !== 'granted')
            Notification.requestPermission();
    });


    function notifyMe(title, message) {
        if (Notification.permission !== 'granted')
            Notification.requestPermission();
        else {
            var notification = new Notification(title, {
                icon: '{{ asset("img/nucleus.png") }}',
                body: message,
            });
            notification.onclick = function () {
                window.open('http://stackoverflow.com/a/13328397/1269037');
            };
        }
    }
</script>

{% set flash = app.session.flashbag.get('offer-success') %}
{% if flash|length > 0 %}
<script id="script-tag">
    $(function () {
        $('.toast').toast({
            delay: 5000
        }).show();
        $('.toast').toast('show');
        notifyMe("Félicitations!", "{{ flash['0'] }}");
    });
</script>
{% set flash = null %}
{% endif %}

{% endblock %}